In [1]:
import pandas as pd

### There should be North Atlantic storms for the year 2016.  However by searching by both basin (NA) and latitide/longitude there are no entries for 2016.  Seems like there's something wrong with the original data?

In [14]:
data = pd.read_csv("../data/allstorms.csv")

# Basins have a space padding them so remove that
data.loc[:, "Basin"] = data.loc[:, "Basin"].apply(lambda x: x.replace(" ", ""))

In [15]:
data.Season.unique()

array([1848, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860,
       1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871,
       1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016])

### ^ 2016 shows up in the list. ok, makes sense

Now check to see if that year shows up with any data that is in the primary North Atlantic area of our animations, namely longitude between -130* and -30* and latitude between 10*N and 50*N

In [16]:
NA_data = data[data.Longitude.apply(lambda x: -130 < x < -30) & data.Latitude.apply(lambda x: 10 < x < 50)]

In [17]:
print NA_data.info()
print
NA_data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64933 entries, 35 to 196502
Data columns (total 16 columns):
Serial_Num              64933 non-null object
Season                  64933 non-null int64
Num                     64933 non-null int64
Basin                   64933 non-null object
Sub_basin               64933 non-null object
Name                    64933 non-null object
ISO_time                64933 non-null object
Nature                  64933 non-null object
Latitude                64933 non-null float64
Longitude               64933 non-null float64
Wind(WMO)               64933 non-null float64
Pres(WMO)               64933 non-null float64
Center                  64933 non-null object
Wind(WMO) Percentile    64933 non-null float64
Pres(WMO) Percentile    64933 non-null float64
Track_type              64933 non-null object
dtypes: float64(6), int64(2), object(8)
memory usage: 8.4+ MB
None

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
35,1851175N26270,1851,1,NA,GM,UNNAMED,1851-06-25 00:00:00,TS,28.0,-94.8,80.0,0.0,atcf,85.026,-100.0,main
36,1851175N26270,1851,1,NA,GM,UNNAMED,1851-06-25 06:00:00,TS,28.0,-95.4,80.0,0.0,atcf,85.026,-100.0,main
37,1851175N26270,1851,1,NA,GM,UNNAMED,1851-06-25 12:00:00,TS,28.0,-96.0,80.0,0.0,atcf,85.026,-100.0,main
38,1851175N26270,1851,1,NA,GM,UNNAMED,1851-06-25 18:00:00,TS,28.1,-96.5,80.0,0.0,atcf,85.026,-100.0,main
39,1851175N26270,1851,1,NA,GM,UNNAMED,1851-06-25 21:00:00,TS,28.2,-96.8,80.0,0.0,atcf,85.026,-100.0,main

In [18]:
na_basin = NA_data[NA_data.Basin == "NA"]

In [19]:
na_basin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45534 entries, 35 to 196401
Data columns (total 16 columns):
Serial_Num              45534 non-null object
Season                  45534 non-null int64
Num                     45534 non-null int64
Basin                   45534 non-null object
Sub_basin               45534 non-null object
Name                    45534 non-null object
ISO_time                45534 non-null object
Nature                  45534 non-null object
Latitude                45534 non-null float64
Longitude               45534 non-null float64
Wind(WMO)               45534 non-null float64
Pres(WMO)               45534 non-null float64
Center                  45534 non-null object
Wind(WMO) Percentile    45534 non-null float64
Pres(WMO) Percentile    45534 non-null float64
Track_type              45534 non-null object
dtypes: float64(6), int64(2), object(8)
memory usage: 5.9+ MB

In [20]:
na_basin.Season.unique()

array([1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861,
       1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872,
       1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883,
       1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894,
       1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905,
       1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916,
       1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927,
       1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
       1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

### ^ 2016 now missing, wth.  Try with just NA lat/long data

In [22]:
NA_data.Season.unique()

array([1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861,
       1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872,
       1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883,
       1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894,
       1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905,
       1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916,
       1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927,
       1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938,
       1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949,
       1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

### ^ Also missing. Either there's one retarded bug early in the data pipeline or the data is missing for some reason.  Maybe because the report was published before the atlantic hurricane season (ends Nov 2016) but after the southern hemisphere seasons (ends ~March 2016)